# Copy this file to .env and fill in the values

# SUPsmasher Supabase project
VITE_SUPABASE_URL=https://bodwvpqtfhqmpzialpig.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvZHd2cHF0ZmhxbXB6aWFscGlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MTYzMzcsImV4cCI6MjA5MTM5MjMzN30.ajGUVfIfGHjgvbth5riBUhLcqBApx_yEpPECPCUhUFU
